<!DOCTYPE html>
<html lang="es-AR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mina Beauty Concept - Productos</title>
  <link rel="shortcut icon" href="../assets/ico/favicon.ico" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body class="m-4">
  <header class="header sticky-top mb-3">
    <nav class="container-fluid navbar navbar-expand-lg bg-light nav-radius px-5">
      <div class="container-fluid">
        <a class="navbar-brand logo link-mina" href="../index.html">MINA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
            <li class="nav-item"><a href="./nosotros.html" class="nav-link link-mina">NOSOTROS</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-mina">PRODUCTOS</a></li>
            <li class="nav-item"><a href="./servicios.html" class="nav-link link-mina">SERVICIOS</a></li>
            <li class="nav-item"><a href="./q_a.html" class="nav-link link-mina">Q&A</a></li>
            <li class="nav-item"><a href="./contacto.html" class="nav-link link-mina">CONTACTO</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- Seccion principal -->
  <main class="container-fluid mb-3 d-flex flex-column justify-content-center">
    <h2 class="text-center">Nuestros productos</h2>
    <!-- <section class="container-fluid text-center d-flex justify-content-evenly align-items-stretch flex-row flex-wrap"> -->
    <div class="m-4 row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-evenly">

      <div class="card col-xl-4 m-3 rounded-4" style=" width: 18rem;">
        <h4 class="card-title text-center m-2">Crema antiage</h4>
        <img src="https://www.bioexel.com/f/203-g.jpg" class="card-img-top" alt="crema-antiage">
        <div class="card-body">
          <p class="card-text text-center">Ayuda a evitar el envejecimiento prematuro de la piel, provocado por los
            radicales
            libres, gracias a la acción de los Liposomas Anti-Age y Liposomas de Vitamina E. Nutre, protege y mantiene
            la piel hidratada.
          </p>
        </div>
      </div>
      <div class="card m-3 rounded-4" style="width: 18rem;">
        <h4 class="card-title text-center m-2">Agua micelar</h4>
        <img src="https://www.bioexel.com/f/458g.jpg" class="card-img-top" alt="agua-micelar">
        <div class="card-body">
          <p class="card-text text-center">Sus micelas de altísimo poder de absorción retiran rápida y
            confortablemente restos de maquillaje e
            impurezas.
            Brinda una sensación de limpieza y frescura inmediata ayudando a normalizar el pH fisiológico y el film
            hidrolipídico
            natural de la piel.
          </p>
        </div>
      </div>
      <div class="card m-3 rounded-4" style="width: 18rem;">
        <h4 class="card-title text-center m-2">Gel cream contorno de ojos</h4>
        <img src="https://www.bioexel.com/f/22322615-1.jpg" class="card-img-top" alt="gel-cream">
        <div class="card-body">
          <p class="card-text text-center">Humecta, nutre y ayuda a minimizar la apariencia de ojeras y finas líneas
            del área de contorno de ojos.
          </p>
        </div>
      </div>
      <div class="card m-3 rounded-4" style="width: 18rem;">
        <h4 class="card-title text-center m-2">INSTANT SHINE Vitamina E</h4>
        <img src="https://www.bioexel.com/f/23588510-1.jpg" class="card-img-top" alt="vitamina-e">
        <div class="card-body">
          <p class="card-text text-center">Otorga brillo, luminosidad y acondiciona en forma instantánea.
            Loción siliconada evanescente.
          </p>
        </div>
      </div>
      <div class="card m-3 rounded-4" style="width: 18rem;">
        <h4 class="card-title text-center m-2">Gel hidratante reparador con Vitamina C</h4>
        <img src="https://www.bioexel.com/f/863-g.jpg" class="card-img-top" alt="vitamina-c">
        <div class="card-body">
          <p class="card-text text-center">Hidrata y suaviza. Mejora la luminosidad y tersura epidérmica. Posee
            acción antioxidante.
            Forma un film resistente a los rayos UVA/UVB y radicales libres.
          </p>
        </div>
      </div>
      <div class="card m-3 rounded-4" style="width: 18rem;">
        <h4 class="card-title text-center m-2">LOCIÓN HERBÁCEA con Aloe Vera</h4>
        <img src="https://www.bioexel.com/f/87086023-1.jpeg" class="card-img-top" alt="serum">
        <div class="card-body">
          <p class="card-text text-center">Los extractos vegetales constituyentes de esta loción ayudan a
            descongestionar y tonificar las zonas a
            tratar, a la vez que higienizan y humectan la piel. Emoliente.
          </p>
        </div>
      </div>
    </div>



  </main>
  <footer class="footer container-fluid rounded-4 text-center">
    <div class="row">
      <div class="col-12 col-md-4 my-3">
        <div class="row-2">
          <p class="fs-3">SITE MAP</p>
        </div>
        <div class="row-10">
          <ul class="navbar-nav">
            <li class="nav-item"><a href="../index.html" class="nav-link link-mina">HOME</a></li>
            <li class="nav-item"><a href="./nosotros.html" class="nav-link link-mina">NOSOTROS</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-mina">PRODUCTOS</a></li>
            <li class="nav-item"><a href="./servicios.html" class="nav-link link-mina">SERVICIOS</a></li>
            <li class="nav-item"><a href="./q_a.html" class="nav-link link-mina">Q&A</a></li>
            <li class="nav-item"><a href="./contacto.html" class="nav-link link-mina">CONTACTO</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-4 my-3">
        <div class="row">
          <p class="fs-3">REDES SOCIALES</p>
        </div>
        <div class="row">
          <div class="col">
            <a href="https://www.instagram.com/minabeautyconcept/" target="_blank">
              <img src="https://cdn-icons-png.flaticon.com/128/174/174855.png" alt="logo instagram"
                class="footer-logos">
            </a>
          </div>
          <div class="col">
            <a href="https://api.whatsapp.com/send?phone=543415441876&text=Hola, Necesito mas informacion!"
              target="_blank">
              <img src="https://cdn-icons-png.flaticon.com/128/733/733585.png" alt="logo whatsapp" class="footer-logos">
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 my-3">
        <div class="row">
          <p class="fs-3">UBICACION</p>
        </div>
        <div class="row">
          <iframe src="https://bit.ly/3pMXI9V" class="rounded-4" width="400" height="300" style="border: 1px;"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
      <p class="row-12 fs-6 text-center">Copyright &#174; 2022 Roberta Farbman</p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</body>

</html>