<!DOCTYPE html>
<html lang="es-AR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mina Beauty Concept - Servicios</title>
  <link rel="shortcut icon" href="../assets/ico/favicon.ico" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body class="m-4">
  <header class="header sticky-top mb-3">
    <nav class="container-fluid navbar navbar-expand-lg bg-light nav-radius px-5">
      <div class="container-fluid">
        <a class="navbar-brand logo link-mina" href="../index.html">MINA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
            <li class="nav-item"><a href="./nosotros.html" class="nav-link link-mina">NOSOTROS</a></li>
            <li class="nav-item"><a href="./productos.html" class="nav-link link-mina">PRODUCTOS</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-mina">SERVICIOS</a></li>
            <li class="nav-item"><a href="./q_a.html" class="nav-link link-mina">Q&A</a></li>
            <li class="nav-item"><a href="./contacto.html" class="nav-link link-mina">CONTACTO</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- Seccion principal -->
  <main class="container-fluid m-4">
    <h2 class="text-center">Nuestros servicios</h2>

    <section class="row container-fluid d-flex align-items-center justify-content-evenly">
      <div class="card m-3 col-12 col-md-6 col-lg-4">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/img/services/dermaplaning.jpg" class="img-fluid rounded-start img-size"
              alt="dermaplaning">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">Dermaplaning facial</h4>
              <p class="card-text ">Elimina las celulas muertas y el vello que se encuentra en la superficie
                de la
                piel.
                Dejando la piel más
                permeable.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card m-3 col-12 col-md-6 col-lg-4">
        <div class="row g-0">
          <div class="col-12 col-md-4">
            <img src="../assets/img/services/elna-services-microblading.jpg" class="img-fluid rounded-start img-size"
              alt="microblading">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">Microblading</h4>
              <p class="card-text">Con esta tecnica logramos imitar el pelo natural de las cejas,
                eligiendo el tono,
                grosor y diseño.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card m-3 col-12 col-md-6 col-lg-4">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/img/services/microneedling.png" class="img-fluid rounded-start img-size"
              alt="microneedling">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">Microneedling</h4>
              <p class="card-text">Micropuntura que estimula la produccion de colageno e incorpora principios
                activos
                a un nivel mas
                profundo.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card m-3 col-12 col-md-6 col-lg-4">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/img/services/bb-lips.jfif" alt="bb-lips" class="img-fluid rounded-start img-size">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">BB Lips</h4>
              <p class="card-text">Revitalizacion e hidratacion profunda de labios.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card m-3 col-12 col-md-6 col-lg-4">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/img/services/lifting.jpg" alt="lifting" class="img-fluid rounded-start img-size">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">Lifting de pestañas</h4>
              <p class="card-text">El Lifting de Pestañas es un tratamiento que alarga y crea una ligera curva hacia
                arriba de manera
                natural
                y duradera, consiguiendo mayor longitud y espesor.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card m-3 col-12 col-md-6 col-lg-4">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/img/services/perfilado.jfif" alt="perfilado" class="img-fluid rounded-start img-size">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">Perfilado de cejas</h4>
              <p class="card-text  card-height">Consiste en el diseño y modelado de las cejas de
                acuerdo con la
                estructura de tu
                rostro, tus ojos y
                nariz.
                El
                objetivo del perfilado no es seguir el patrón de ceja que está de moda, sino perfeccionar su forma
                natural
                (sean
                delgadas o gruesas, largas o cortas).</p>
            </div>
          </div>
        </div>
      </div>

    </section>

  </main>
  <!-- Pie de pagina -->
  <footer class="footer container-fluid rounded-4 text-center">
    <div class="row">
      <div class="col-12 col-md-4 my-3">
        <div class="row-2">
          <p class="fs-3">SITE MAP</p>
        </div>
        <div class="row-10">
          <ul class="navbar-nav">
            <li class="nav-item"><a href="../index.html" class="nav-link link-mina">HOME</a></li>
            <li class="nav-item"><a href="./nosotros.html" class="nav-link link-mina">NOSOTROS</a></li>
            <li class="nav-item"><a href="./productos.html" class="nav-link link-mina">PRODUCTOS</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-mina">SERVICIOS</a></li>
            <li class="nav-item"><a href="./q_a.html" class="nav-link link-mina">Q&A</a></li>
            <li class="nav-item"><a href="./contacto.html" class="nav-link link-mina">CONTACTO</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-4 my-3">
        <div class="row">
          <p class="fs-3">REDES SOCIALES</p>
        </div>
        <div class="row">
          <div class="col">
            <a href="https://www.instagram.com/minabeautyconcept/" target="_blank">
              <img src="https://cdn-icons-png.flaticon.com/128/174/174855.png" alt="logo instagram"
                class="footer-logos">
            </a>
          </div>
          <div class="col">
            <a href="https://api.whatsapp.com/send?phone=543415441876&text=Hola, Necesito mas informacion!"
              target="_blank">
              <img src="https://cdn-icons-png.flaticon.com/128/733/733585.png" alt="logo whatsapp" class="footer-logos">
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 my-3">
        <div class="row">
          <p class="fs-3">UBICACION</p>
        </div>
        <div class="row">
          <iframe src="https://bit.ly/3pMXI9V" class="rounded-4" width="400" height="300" style="border: 1px;"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
      <p class="col-12 fs-6 text-center">Copyright &#174; 2022 Roberta Farbman</p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</body>

</html>